<!-- ./views/index.handlebars -->
<div class="container mt-5">
  <div class="addButton">
    <a href="./restaurants/new">
      <button type="button" class="btn btn-dark" style="margin-right: 100px;">新增餐廳</button>
    </a>
  </div>
  <!-- search bar -->
  <div class="container search-bar">
    <div class="search-bar-outer">
      <div class="search-bar-inner">
        <form action="/search">
          <h4 class="mb-2">尋找餐廳：</h4>
          <div class="input-group">
            <input type="text" name="keyword" class="form-control bar" placeholder="輸入餐廳名稱或分類" aria-label="Restaurant Name..."
              value="{{keyword}}" aria-describedby="search-button">
            <div class="input-group-append">
              <button class="btn btn-major" type="submit" id="search-button"><i class="fas fa-search"></i></button>
            </div>
              <div class="dropdown ml-3">
                <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="collapse" data-bs-target="#collapseExample" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
                  {{#is sorting 'name'}}A->Z{{/is}}
                  {{#is sorting '-name'}}Z->A{{/is}}
                  {{#is sorting 'category'}}依餐廳分類{{/is}}
                  {{#is sorting 'location'}}依地區{{/is}}
                  {{#is sorting 'rating'}}評分由低到高{{/is}}
                  {{#is sorting '-rating'}}評分由高到低{{/is}}
                  {{#unless sorting}}選擇排序{{/unless}}
                </button>
                <div class="dropdown-menu" id="collapseExample" aria-labelledby="dropdownMenuButton">
                  <button class="btn btn-light" type="submit" name="sorting" value="name">A->Z</button>
                  <button class="btn btn-light" type="submit" name="sorting" value="-name">Z->A</button>
                  <button class="btn btn-light" type="submit" name="sorting" value="category">依餐廳分類</button>
                  <button class="btn btn-light" type="submit" name="sorting" value="location">依地區</button>
                  <button class="btn btn-light" type="submit" name="sorting" value="rating">評分由低到高</button>
                  <button class="btn btn-light" type="submit" name="sorting" value="-rating">評分由高到低</button>
                </div>
              </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- restaurant list -->
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-10 col-12 mx-auto">
        <div class="card-rows"style="display:flex;flex-wrap:wrap;">
          {{#each restaurants}}
          <a href="/restaurants/{{this.id}}" class="text-secondary">
            <div class="card m-3" >
              <img class="card-img-top" src="{{this.image}}" alt="{{this.name}}">
              <div class="card-body p-3">
                <h6 class="card-title mb-1">{{this.name}}</h6>

                <div class="restaurant-category mb-1">
                  <i class="fas fa-utensils pr-2"></i> {{this.category}}
                </div>

                <span class="badge badge-pill badge-danger font-weight-normal">
                  {{this.rating}}
                  <i class="fas fa-star fa-xs"></i>
                </span>

              </div>
              <div style="display: flex; justify-content: flex-end; margin-top: 10px;">
                <a href="/restaurants/{{ this.id }}/edit" style="margin-right:10px;color:black">編輯</a>
                <a href="/restaurants/{{ this.id }}" style="margin-right:10px;color:black">瀏覽</a>
                <form action="/restaurants/{{ this.id }}?_method=DELETE" method="POST" style="display: inline;">
                  <button type="submit" style="border:0; background-color:white; color:red" onclick="deleteConfirm()">刪除</button>
                </form>
              </div>
            </div>

          </a>

          {{/each}}
        </div>
      </div>
    </div>
  </div>